body {
    background-color: pink;
	background-image: url("https://www.komar.de/en/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/v/d/vd-048-star-wars-posters-collage.jpg");
}
 
.outerDiv {
	border-radius: 15px;
    width: 900px;
    height: 500px;
    margin: 0 auto;
	margin-top:5%;
    background-color: #f4433687;
    padding: 10px 50px 50px 50px;

    
}
 
.outerDiv h1 {

	border-radius: 15px;
    font-family: "Lucida Console", Courier, monospace;
    background-color:#175ded;
    font-size: 60px;
    text-align: center;
    color:#ffffff;
    padding: 2px 0px;
    
}
 
#score {
	margin-top:50px;
    color: #fff;
    text-align: center;
    font-size: 50px;
}
 
.outerDiv #question {
	margin-top: 60px;
	text-align:center;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 30px;
	
    color: #ffffff;
}
 
.buttons {
	font-family: "Lucida Console", Courier, monospace;
	text-align:center;
    margin-top: 45px;
	
}
 
#btn0, #btn1, #btn2, #btn3 {
	
	border-radius: 15px;
	font-family: "Lucida Console", Courier, monospace;
    background-color: #175ded;
    width: 300px;
	text-align:center;
    font-size: 20px;
    color: #fff;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #09789e66;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 
#progress {
	margin-right:40px;
	text-align:center;
	font-family: "Lucida Console", Courier, monospace;
    color: #fff;
    font-size: 20px;
}


